@import url(bootstrap.css);
html {
  min-height: 100%; }

body {
  /* This image will be displayed fullscreen */
  background: url('../images/ferry_quarter.jpg') no-repeat center center;
  /* The Magic */
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%; }

.navbar-inverse {
  background-color: rgba(16, 16, 16, 0.75); }

#main {
  margin-top: 52px; }

section {
  margin-bottom: 25vh;
  height: 75vh;
  background-color: rgba(200, 200, 200, 0.9); }

section.welcome {
  background-color: rgba(200, 200, 200, 0); }

.bookmark:focus {
  outline: none; }

.bookmark {
  display: block;
  padding-top: 52px; }
